/* Variables */

:root {
  --basic-background: #f1f5f7;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #32425C;
  --basic-greylight: #c5c5c5;
  --basic-greymiddle: #293449;

  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark: #161d29;
  --basic-light: #e5e5e5;

  --special-yellow: #ffbf47;
  --special-yellowdark: #ffc047;
  --special-yellowlight: #ffd180;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-red: #ba2732;

  --special-greenlight: #8ed78f;
  --special-green: #5fbb2d;
  --special-greendark: #518534;

  --special-grey: #f4f4f4;
  --special-greywhite: #f3f7f9;
  --special-greylight: #eaeaea;
  --special-greymiddle: #a9a9a9;
  --special-greydark: #1d2739;
  --special-greybluelight: #c1c6ce;
  --special-greyred: #f9f5f0;
  --special-greyblue: #405069;

  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-black-25: rgba(0, 0, 0, 0.25);
  --opacity-black-75: rgba(0, 0, 0, 0.75);
  --opacity-grey-30: rgba(196, 196, 196, 0.3);
  --opacity-dark-30: rgba(169, 169, 169, 0.3);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);

  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;

  cursor: pointer;
}

.button:active {
  background-color: var(--special-red);
}

/*  Grid  */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

/* Header */

.header {
  margin-bottom: 59px;
}

.inner-body .header {
  margin-bottom: 20px;
}

.header__top-menu {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
  background-color: var(--basic-greymiddle);

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.top-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-menu__logo {
  display: block;
  width: 220px;
  height: 47px;
  padding-top: 12px;
  background-color: var(--basic-red);
  -webkit-box-shadow: inset 0 -5px 0 var(--opacity-black-25);
  box-shadow: inset 0 -5px 0 var(--opacity-black-25);
}

.top-menu__logo-img {
  display: block;
  width: 108px;
  height: 18px;
  margin: 0 auto;
}

.inner-body .top-menu__logo:active {
  background-color: var(--special-red);
}

.top-menu__form {
  position: relative;
  width: 270px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--basic-white);
}

.form-search__label {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 15px;
  top: 12px;
}

.form-search__label svg {
  fill: var(--basic-white);
  fill-opacity: 0.25;
}

.form-search__input {
  width: 270px;
  height: 42px;
  background-color: var(--basic-greymiddle);
  color: var(--basic-greylight);
  border: none;

  padding-left: 42px;
  padding-right: 9px;
}

.form-search__input::-webkit-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__input::-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__input:-ms-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__input::-ms-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.form-search__input:hover+.form-search__label svg {
  fill-opacity: 1;
}

.form-search__input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.form-search__input:focus+.form-search__label svg {
  fill: var(--basic-red);
  fill-opacity: 1;
}

.form-search__input:focus::-webkit-input-placeholder {
  color: var(--basic-greylight);
}

.form-search__input:focus::-moz-placeholder {
  color: var(--basic-greylight);
}

.form-search__input:focus:-ms-input-placeholder {
  color: var(--basic-greylight);
}

.form-search__input:focus::-ms-input-placeholder {
  color: var(--basic-greylight);
}

.form-search__input:focus::placeholder {
  color: var(--basic-greylight);
}

.top-menu__link {
  width: 150px;
  padding-top: 9px;
  color: var(--basic-white);
  text-align: center;
}

.top-menu__link--bookmarks {
  width: 164px;
}

.top-menu__link--basket {
  width: 136px;
}

.top-menu__link--bookmarks,
.top-menu__link--basket {
  position: relative;
  padding-left: 10px;
}

.top-menu__link--bookmarks::before,
.top-menu__link--basket::before {
  position: absolute;
  content: "";
  top: 14px;
}

.top-menu__link--bookmarks::before {
  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  left: 20px;
  opacity: 0.3;
}

.top-menu__link--basket::before {
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  left: 12px;
  opacity: 0.3;
}

.top-menu__link--bookmarks:hover::before,
.top-menu__link--basket:hover::before {
  opacity: 1;
}

.top-menu__link--bookmarks:active,
.top-menu__link--basket:active {
  color: var(--opacity-white-50);
}

.top-menu__link--bookmarks:active::before,
.top-menu__link--basket:active::before {
  opacity: 0.5;
}

.top-menu__link--basket-users {
  background-color: var(--basic-red);
  height: 42px;
}

.top-menu__link--basket-users:active {
  background-color: var(--special-red);
}

.top-menu__link--order {
  min-height: 42px;
  background-color: var(--basic-green);
}

.top-menu__link--order:hover {
  background-color: var(--special-green);
}

.top-menu__link--order:active {
  color: var(--opacity-white-50);
}

/* Main-menu */

.header__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.main-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu__sector {
  display: block;
  width: calc(100%/3);
  margin-bottom: 41px;
}

.main-menu__title {
  margin: 0;
  padding: 0;
  display: block;
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
}

.contacts-header {
  padding-top: 48px;
  padding-left: 5px;
  padding-right: 39px;
}

.contacts-header__phone {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-top: 3px;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-right: 8px;
}

.contacts-header__phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 19px;
  top: 8px;
  left: 38px;

  background-image: url(../img/icon-phone.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts-header__adress {
  margin: 0;
  padding-left: 12px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
}

.user-list {
  margin: 0;
  margin-top: -15px;
  padding: 0;
  list-style: none;
  margin-left: auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.user-list__item {
  margin-left: 10px;
  padding: 8px 25px 12px;
  background-color: var(--basic-white);
}

.user-list__link {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.user-list__link--enter {
  position: relative;
  padding-left: 25px;
}

.user-list__link--enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 3px;
  left: 0;

  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-list__link:hover {
  color: var(--basic-red);
}

.user-list__link--enter:hover::before {
  opacity: 1;
}

.user-list__link:active {
  color: var(--basic-greylight);
}

.user-list__link--enter:active::before {
  opacity: 0.3;
}

.entrance {
  position: relative;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.entrance__item--login {
  background-color: var(--basic-white);
  width: 300px;
  padding: 14px 56px 10px;
  margin-bottom: 8px;
}

.entrance__item-user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entrance__link {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey);
}

.entrance__link:hover {
  color: var(--basic-red);
}

.entrance__link--login {
  position: relative;
  display: block;
}

.entrance__link--login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 0;
  left: -42px;
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.entrance__link--login:hover::before {
  opacity: 1;
}

.entrance__link--login:active::before {
  opacity: 0.3;
}

.entrance__item--logout {
  position: absolute;
  top: 16px;
  right: 16px;
  fill-opacity: 0.5;
}

.entrance__item--logout:hover {
  fill-opacity: 1;
}

.entrance__item--logout:active {
  fill-opacity: 0.5;
}

.entrance__link--login,
.entrance__link--login:hover {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.entrance__link:active {
  color: var(--basic-greylight);
}

.entrance__item--orders {
  position: relative;
  margin-right: 30px;
}

.entrance__item--orders .entrance__link::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 8px;
  right: -18px;
  background-color: var(--basic-grey);
  border-radius: 50%;
}

.entrance__item--orders .entrance__link:hover::after {
  background-color: var(--basic-red);
}

.entrance__item--orders .entrance__link:active::after {
  background-color: var(--basic-greylight);
}

.header__nav-main {
  background-color: var(--basic-grey);
  -webkit-box-shadow: inset 0 -5px 0 var(--basic-greymiddle);
  box-shadow: inset 0 -5px 0 var(--basic-greymiddle);
  color: var(--basic-white);
}

.nav-main__list {
  margin: 0;
  padding: 0 23px;
  min-height: 60px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav__link {
  display: block;
  padding: 16px 29px 20px;
  color: var(--basic-white);
}

.main-nav__link:hover {
  background-color: var(--basic-greymiddle);
}

.main-nav__link:active {
  background-color: var(--special-greydark);
  color: var(--opacity-white-50);
}

/* Promo*/

.main-page__promo .container {
  margin: 0 auto 59px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  -webkit-column-gap: 20px;

  -moz-column-gap: 20px;

  column-gap: 20px;
  row-gap: 20px;
}

.promo__segment {
  position: relative;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 23px;

  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-repeat: no-repeat;
}

.promo__segment::after {
  position: absolute;
  content: "";
  display: block;
}

.promo__segment--new::before {
  content: "new";
  position: absolute;
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  width: 100px;
  height: 30px;
  top: 5px;
  right: -25px;

  background: var(--basic-red);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.promo__segment--materials {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-materials.svg);
  background-position: 213px 50%;
}

.promo__segment--instrument {
  background-color: var(--special-blue);
  background-image: url(../img/icon-tool.svg);
  background-position: 194px 50%;
}

.promo__segment--technic {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-technic.svg);
  background-position: 191px 50%;
}

.promo__segment--discounts {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-discounts.svg);
  background-position: 193px 50%;
}

.promo__segment--delivery {
  background-color: var(--special-yellowdark);
  background-image: url(../img/icon-delivery.svg);
  background-position: 190px 50%;
}

.promo__slider {
  display: block;
  position: relative;
  background-color: var(--special-greymiddle);
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  max-width: 180px;
}

.promo__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  display: block;
  background-color: var(--opacity-white-30);
  width: 135px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: auto;
}

.promo__button:hover {
  background-color: var(--opacity-grey-30);
}

.promo__button:active {
  background-color: var(--opacity-dark-30);
}

/* Promo-slider */

.promo__slider--1 {
  background-image: url(../img/slide-2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__slider--2 {
  background-image: url(../img/slide-1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide--current {
  display: block;
}

.slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 220px;
}

.promo__slider-title {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.promo__slider-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider__controls {
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: -15px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls .slider__controls-current {
  background-color: var(--basic-white);
}

.slider__arrows {
  position: absolute;
  top: 122px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__arrows button {
  width: 22px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.slider__arrows .slider__arrows-left {
  background-image: url(../img/icon-left.svg);
}

.slider__arrows .slider__arrows-right {
  background-image: url(../img/icon-left.svg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.promo__slider-button {
  display: block;
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: auto;
}

/*  Popular product & Maker (total) */

.main-page__popular,
.main-page__maker {
  margin-bottom: 70px;
}

.popular__title-wrapper,
.maker__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--special-greyred);
  padding: 23px 14px 25px 28px;
  margin-bottom: 20px;
}

.popular__title,
.maker__title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.popular__all,
.maker__all {
  display: block;
  width: 192px;
  min-height: 38px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.main-page__list {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

/* Maker */

.maker__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.maker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 145px;
  background: var(--basic-white);
  border: 1px solid var(--special-greylight);
}

.maker__item:hover {
  -webkit-box-shadow: 0 0 10px var(--opacity-black-25);
  box-shadow: 0 0 10px var(--opacity-black-25);
}

.maker__item:active {
  opacity: 0.5;
}

/* Servises */

.main-page__servises {
  background-color: var(--basic-background);
  margin-bottom: 70px;
  padding-top: 64px;
}

.servises__title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.slider__title {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-grey);
  margin-bottom: 32px;
}

.servises__text,
.slider__text {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.servises__text {
  margin-bottom: 70px;
}

.slider__text {
  width: 335px;
}

.servises__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.servises__wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.servises__controls {
  position: relative;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.servises__controls::before {
  content: "";
  position: absolute;
  top: -48px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.servises__controls button {
  color: var(--basic-white);
  background-color: var(--basic-grey);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  border: none;
  padding: 16px 22px 17px;
  -webkit-box-shadow: 0 1px 0 var(--basic-greymiddle), inset 0 1px 0 var(--special-greyblue);
  box-shadow: 0 1px 0 var(--basic-greymiddle), inset 0 1px 0 var(--special-greyblue);
}

.servises__controls button:hover:not(.servises__controls-current) {
  background: var(--basic-greymiddle);
}

.servises__controls .servises__controls-current {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  -webkit-box-shadow: 0 1px 0 var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
}

.slider {
  padding: 0;
  display: none;
  width: 620px;
  min-height: 285px;
  background-repeat: no-repeat;
}

.current-servise {
  display: block;
}

.servises__delivery {
  background-image: url(../img/delivery.png);
  background-position: 150px 20px;
}

.servises__guarantees {
  background-image: url(../img/guarantees.png);
  background-position: 230px 0;
}

.servises__credit {
  background-image: url(../img/credit.png);
  background-position: 150px 0;
}

.slider__button {
  display: block;
  width: 195px;
  height: 38px;
  border-radius: 2px;
  padding-top: 11px;
  margin-top: 30px;
}

/* About-wrapper*/

.main-page__about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

/* About */

.about-us {
  width: 470px;
  color: var(--basic-black);
}

.about-us__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us__text {
  margin: 0;
  margin-top: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 12px;
  list-style: none;
}

.about-us__item {
  margin-top: 12px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-left: 35px;
}

.about-us__item:first-child {
  margin-top: 0;
}


.about-us__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 12px;
  left: 0;
  background-color: var(--basic-red);
}

.about-us__button {
  display: block;
  width: 220px;
  margin-top: 21px;
  padding: 11px 40px 9px;
}

/* contacts */

.contacts {
  width: 300px;

  color: var(--basic-black);
}

.contacts__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.contacts__image img {
  display: block;
  margin-bottom: 27px;
}

.contacts__button {
  display: block;
  padding: 11px 39px 9px;
}

/* Inner-page */

.inner-page__breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__link {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-right: 24px;
  padding-right: 17px;
}

.breadcrumbs__link:not(.breadcrumbs__link--current)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: -6px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__link--main {
  width: 14px;
  height: 12px;
  fill: var(--special-greybluelight);
}

.breadcrumbs__link--main:hover {
  fill: var(--special-greymiddle);
}

.breadcrumbs__link:hover {
  opacity: 0.5;
}

.breadcrumbs__link--current:hover {
  opacity: 1;
}

.inner-page__catalog-wrapper {
  margin-bottom: 59px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 1fr;
  grid-template-columns: 220px 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.inner-page__title {
  margin: 20px 0;
  min-height: 89px;
  padding-left: 29px;
  padding-top: 29px;
  background-color: var(--basic-background);

  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.inner-page__filters {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filters__title {
  margin: 0;
  background-color: var(--special-greyred);

  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;

  margin-bottom: 14px;
  padding: 10px 19px 10px 17px;
  border-radius: 5px;
}

.filters__set {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 27px;
  border-bottom: 1px solid var(--special-greylight);
}

.brands {
  margin-top: 16px;
}

.power {
  margin-top: 18px;
  margin-bottom: 14px;
  border-bottom: none;
}

.filters__name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.price__range-filter {
  display: block;
  width: 220px;
  margin-top: 12px;
}

.price__range-controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: var(--special-greyred);
  margin-bottom: 9px;
}

.price__range-controls .price__scale {
  height: 2px;
  background-color: var(--special-greybluelight);
}

.price__range-controls .price__bar {
  width: 80%;
  height: 2px;
  background-color: var(--special-green);
}

.price__range-controls .price__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 7px solid var(--basic-white);
  background-color: var(--special-greymiddle);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--special-greylight);
  box-shadow: 0 2px 1px 0 var(--special-greylight);

  cursor: pointer;
}

.price__range-controls .toggle-min {
  left: 18px;
}

.price__range-controls .toggle-max {
  left: 200px;
}

.price__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price__controls label {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;

  width: 95px;
  height: 38px;
  border-radius: 5px;
  background-color: var(--special-greyred);

  padding: 5px 8px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;

  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.price__min input,
.price__max input {
  width: 75px;

  background: none;
  border: none;
  text-align: center;
}

.brands__list,
.power__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands__list {
  padding-top: 18px;
}

.power__list {
  padding-top: 22px;
}

.brands__label,
.power__label {
  position: relative;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  padding-left: 35px;

  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters__item {
  margin-bottom: 20px;
}

.filters__item:last-child {
  margin-bottom: 0;
}

.brands__input+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.brands__input:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.power__input+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: none;
  border: 3px solid var(--basic-greylight);
  border-radius: 50%;
  opacity: 0.7;
}

.power__input:checked+label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
  opacity: 0.7;
}

.filters__item input:hover:not([disabled])+label::before,
.filters__item input:focus:not([disabled])+label::before,
.filters__item input:hover:not([disabled])+label::after,
.filters__item input:focus:not([disabled])+label::after {
  opacity: 1;
}

.filters__item input:disabled+label {
  opacity: 0.3;
  cursor: default;
}

.filters__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  background: var(--basic-white);
  border: 1px solid var(--basic-light);
  cursor: pointer;
}

.filters__button:hover {
  border-color: var(--basic-greylight);
}

.filters__button:active {
  border-color: var(--basic-red);
}

/* Sorted */

.products__sorted {
  margin-bottom: 28px;
  padding: 10px 19px 10px 17px;
  background-color: var(--special-greyred);
  border-radius: 5px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products__sorted-title {
  margin: 0;
  display: block;
  width: 200px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
}

.products__sorted-list {
  margin: 0;
  padding: 0;
  width: 355px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.option__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;

  color: var(--opacity-black-25);
  border-bottom: 1px dashed var(--basic-red);
}

.option__link--active {
  color: var(--basic-red);
  border-bottom: none;
}

.option__link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.products__choice {
  padding-left: 14px;
}

.products__choice-link {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 10px;
  margin-left: 14px;
  fill: var(--basic-greylight);
}

.products__choice-link--down svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.products__choice-link:hover {
  fill: var(--basic-black);
}

.products__choice-link--active {
  fill: var(--basic-red);
}

/* Product */

.products__list {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;

  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  position: relative;
  width: 220px;
  min-height: 318px;
  padding: 22px 17px 20px;

  background-color: var(--basic-white);
  border: 1px solid var(--special-greylight);

  overflow: hidden;
}

.product__item:hover {
  -webkit-box-shadow: 0 4px 4px var(--opacity-black-25);
  box-shadow: 0 4px 4px var(--opacity-black-25);
}

.product__item:hover>.product__order-wrapper {
  display: block;
}

.product__preview {
  width: 220px;
  height: 127px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 29px;
}

.product__item--new:before {
  content: "new";
  position: absolute;
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  width: 100px;
  height: 30px;
  top: 8px;
  right: -27px;
  z-index: 5;

  background: var(--basic-red);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product__price-wrapper {
  margin-top: auto;
}

.product__link {
  font-family: "PT Sans", Arial, sans-serif;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: var(--basic-black);
}

.product__old-price {
  margin: 0;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: var(--special-greymiddle);
}

.product__item--notdiscount .product__old-price {
  visibility: hidden;
}

.product__price {
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  color: var(--basic-white);
  width: 141px;
  height: 38px;
  background-color: transparent;
  background-image: url(../img/red-button.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  cursor: pointer;
}

.product__order-wrapper {
  display: none;
  position: absolute;
  background-color: var(--basic-white);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 156px;
  padding-top: 25px;
  padding-left: 38px;
  padding-right: 42px;
}

.product__basket {
  display: block;
  position: relative;
  padding: 10px 42px 10px 54px;
  margin-top: 14px;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-green);
  border: none;
  -webkit-box-shadow: inset 0 -3px 0 var(--special-greendark);
  box-shadow: inset 0 -3px 0 var(--special-greendark);
  border-radius: 2px;

  cursor: pointer;
}

.product__basket::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 1;
  display: block;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 28px;
}

.product__basket:hover {
  background-color: var(--special-green);
}

.product__basket:active {
  background-color: var(--special-greendark);
}

.product__marker {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-grey);

  padding: 8px 32px;
  margin-bottom: 54px;

  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  border-radius: 2px;

  cursor: pointer;
}

.product__marker:hover {
  border-color: var(--basic-grey);
}

.product__marker:active {
  color: var(--special-greymiddle);
  border-color: var(--special-greymiddle);
  background-color: transparent;
}

/* Pagination */

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  background: var(--basic-white);
  border: 1px solid var(--basic-light);
  border-radius: 2px;
}

.pagination__item:last-child a {
  width: 140px;
  padding-left: 30px;
  padding-right: 33px;
}

.pagination__link--current {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.pagination__link:hover {
  border-color: var(--basic-greylight);
}

.pagination__link:active {
  border-color: var(--basic-red);
}

/* Seo */

.inner-page__seo {
  background-color: var(--basic-background);
  margin: 0;
  padding-top: 64px;
  padding-bottom: 68px;
}

.inner-page__words-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.inner-page__words-text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
}

/* Footer */

.header-footer {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-grey);
  color: var(--special-greywhite);
}

.header-footer .container {
  min-height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-footer__column1 {
  width: 390px;
}

.header-footer__column2 {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  -webkit-box-shadow: inset 0 -5px 0 var(--opacity-black-25);
  box-shadow: inset 0 -5px 0 var(--opacity-black-25);

  margin-bottom: 22px;
}

.inner-body .header-footer__logo:active {
  background-color: var(--special-red);
}

.header-footer__adress,
.header-footer__phone {
  margin: 0;
  text-align: left;
}

.header-footer__phone {
  color: var(--basic-white);
}


.header-footer__list {
  width: 550px;
  list-style: none;
  margin: 0;
  margin-top: 37px;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-footer__link {
  color: var(--basic-background);
}

.header-footer__link:hover {
  text-decoration: underline;
}

.header-footer__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.list-shop {
  width: 100%;
  padding-left: 24px;
  margin: 0;
  margin-top: 34px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-shop__link {
  color: var(--special-yellowlight);
}

.list-shop__link:hover {
  text-decoration: underline;
}

.list-shop__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer {
  background-color: var(--basic-greymiddle);
  color: var(--basic-white);

  font-size: 16px;
  line-height: 18px;
  padding-top: 21px;
  padding-bottom: 35px;
}

.bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-footer__copyright {
  width: 270px;
}

.socials {
  width: 360px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 3px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--special-greydark);
}

.socials__link:hover,
.socials__link:active {
  background-color: var(--basic-red);
}

.bottom-footer__feedback {
  margin-top: -5px;
  margin-left: 5px;
  width: 190px;
}

.bottom-footer__creator {
  margin-top: -5px;
  margin-left: 5px;
  width: 110px;
}

.bottom-footer__feedback-text,
.bottom-footer__creator-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-white);
}

.bottom-footer__feedback-link,
.bottom-footer__creator-link {
  color: var(--special-yellowlight);
}

.bottom-footer__feedback-link:hover,
.bottom-footer__creator-link:hover {
  text-decoration: underline;
}

.bottom-footer__feedback-link:active,
.bottom-footer__creator-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  z-index: 10;

  border-top: 7px solid var(--basic-red);
  -webkit-box-shadow: 0 20px 40px var(--opacity-black-75);
  box-shadow: 0 20px 40px var(--opacity-black-75);
}

.modal__show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal__error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal__button-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 22px;
  height: 22px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal__button-close::before,
.modal__button-close::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal__button-close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__button-close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__write {
  width: 620px;
  height: 430px;
  background-color: var(--basic-background);
}

.modal__form-wrapper {
  background-color: var(--basic-white);
  padding: 37px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 13px;
}

.modal__form-item:last-child {
  margin-bottom: 0;
}

.modal__write-label {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.modal__write-input,
.modal__write-text {
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding: 8px 12px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
}

.modal__write-input {
  width: 220px;
}

.modal__write-text {
  width: 460px;
  min-height: 114px;
  resize: none;
}

.modal__button-wrapper {
  padding: 37px 80px;
}

.modal__button-write {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
}

.modal__map {
  width: 943px;
  height: 449px;
  background-color: var(--basic-greylight);
  background-image: url(../img/big-map.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal__map-link iframe {
  border: none;
}

.modal__basket {
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
}

.modal__basket-title {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);

  padding: 53px 99px 68px;
}

.modal__basket-title::before {
  position: absolute;
  content: "";
  top: 37px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.svg);
}

.modal__basket-button {
  position: absolute;
  width: 100%;
  background-color: var(--basic-background);
  bottom: 0;
  height: 112px;
  padding: 37px 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal__basket-button button,
.modal__basket-button a {
  width: 192px;
}

.modal__basket-order {
  padding: 10px;
}

.modal__basket-continue {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal__basket-continue:active {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}